.DataTable {
  display: flex;
  flex-direction: column;
}

.TableRow {
  display: flex;
  width: 100%;
}

.Cell {
  border: 1px solid gray;
  flex: 1 0 0;
  text-align: left;
  padding: 5px;
  overflow: hidden;
  word-wrap: break-word;
}

.Cell-Numeric {
  flex: 0.5 0 0;
  text-align: right;
}

.Cell-Icon {
  width: 10px;
  height: 10px;
}

.Header {
  background-color: lightblue;
  cursor: pointer;
  text-align: center;
  user-select: none;
}

.TableRow:nth-child(odd) {
  background-color: gainsboro;
}