.AppHeader {
  background-color: midnightblue;
  height: 50px;
  width: 100%;
}

.AppHeaderContent {
  line-height: 50px;
  font-size: larger;
  font-weight: bolder;
  color: white;
  padding-left: 10px;
}

.AppFooter {
  padding: 50px 10px 50px 10px;
  margin-top: 20px;
  
  min-height: 100px;
  background-color: #eeeeee;
  display: flex;
  flex-wrap: wrap;
}

.AppFooterContent {
  font-weight: bolder;
  color: #444444;
  flex-basis: 50%;
}

.AppContainer {
  padding: 10px;
}

.Title {
  font-size: x-large;
  padding-bottom: 20px;
}

.Description {
  margin-bottom: 20px;
}

.FilterPanelContainer {
  background-color: moccasin;
  padding: 20px;
  margin-bottom: 20px;
}

.FilterItemContainer {
  display: flex;
  align-items: center;
  min-height: 30px;
}

.DataTable {
  display: flex;
  flex-direction: column;
}

.TableRow {
  display: flex;
  width: 100%;
  min-width: 500px;
}

.Cell {
  border: 1px solid gray;
  flex: 1 0 0;
  text-align: left;
  overflow: hidden;
  word-wrap: break-word;
}

.Cell-Numeric {
  flex: 0.5 0 0;
  text-align: right;
}

.Cell-Icon {
  width: 10px;
  height: 10px;
}

.HeaderCell {
  background-color: lightblue;
  cursor: pointer;
  text-align: center;
  user-select: none;
}
.TableRow:nth-child(1) {
  position: sticky;
  position: -webkit-sticky;
  top: 0;
}

.TableRow:nth-child(odd) {
  background-color: #eeeeee;
}

.SmallHorizontalPadding {
  padding-left: 5px;
  padding-right: 5px;
}

.VerticallyCenteredSingleItem {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

/* Breakpoints are from Bootstrap: https://getbootstrap.com/docs/4.1/layout/overview/#responsive-breakpoints */

/* Small devices */
@media (max-width: 768px) {
  .AppContainer {
    padding: 10px;
  }

  .DataTableContainer {
    margin-left: -10px;
    margin-right: -10px;
  }

  .Description {
    font-size: 90%;
  }

  .Cell {
    font-size: 75%;
    padding: 0px;
  }
}
/* Medium devices (tablets, 768px and up) */
@media (min-width: 768px) {
  .AppContainer {
    padding-left: 10%;
    padding-right: 10%;
  }

  .AppFooter {
    padding-left: 10%;
    padding-right: 10%;
  }
  
  .DataTableContainer {
    margin-left: 0px;
    margin-right: 0px;
  }

  .Cell {
    padding: 5px;
  }
}

/* Large devices (desktops, 992px and up) */
@media (min-width: 992px) {
  .Cell {
    padding: 10px;
  }
}

/* Extra large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {
}